body{
    margin: 0;
}
header{
    background: #999;
    color: #fff;
    padding: 15px 15px 0 15px;
}
header h1{
    margin: 0;
    display: inline;
}
nav ul{
    margin: 0;
    padding: 0 0 0 15px;
    display: inline;
}
nav ul li{
    background-color: black;
    color: #fff;
    padding: 5px 15px;
    display: inline-block;
    list-style-type: none;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
.row{
    clear: both;
}
.col{
    background: #333;
    float: left;
    color: #fff;
    margin: .5%;
    width: 31%;
    border-radius: 5px;
    padding: 10px .5%;
}
footer{
    text-align: center;
    clear: both;
}